<section fxFlex fxLayoutAlign="center">
    <mat-card fxFlex="500px">
        <!-- Naslov kartice -->
        <mat-card-title fxLayoutAlign="center">
            Pocni trening
        </mat-card-title>
        
        <!-- Sadrzaj kartice -->
        <mat-card-content fxLayoutAlign="center">
            <mat-form-field>
                <mat-select placeholder="Izaberi vezbu">
                    <mat-option value="setnja">Setnja</mat-option>
                    <mat-option value="trcanje">Trcanje</mat-option>
                    <mat-option value="plivanje">Plivanje</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>

        <!-- Dugme / akcija kartice -->
        <mat-card-actions fxLayoutAlign="center">
            <button type="submit" mat-raised-button color="primary" (click)="onStartTraining()">Pocni trening</button>
        </mat-card-actions>
    </mat-card>
</section>
