/* #container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#element1 {
    background-color: blue;
}

#element2 {
    background-color: red;
}

#element3 {
    background-color: green;
}

.element {
    width: 350px;
    height: 350px;
} */

mat-sidenav-container,
mad-sidenav-content,
mad-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 200px;
}

form {
    height: 600px;
    border: 1px solid black;
}

a {
    color: #f5f5f5;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}
