<!--
<button mat-flat-button	color="primary">Dugme</button>

  pozivanje rutiranja 

<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>  ovo je samo icon 

<button mat-icon-button color="primary"> mat-icon-button je iz modula button i ovim primerom implementiramo ikonicu u button 
    <mat-icon>home</mat-icon>
</button>

<section>
    <div id="container">
        <div id="element1" class="element"></div>
        <div id="element2" class="element"></div>
        <div id="element3" class="element"></div>
    </div>
</section>
-->

<!-- <section>
    <form fxLayout='column' fxLayoutAlign='center center'>
        <mat-form-field>
            <input type="email" matInput placeholder="Vas email"> 
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput placeholder="Sifra"> 
        </mat-form-field>
    </form>
    <router-outlet></router-outlet>
    
</section> -->

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true">
        <mat-nav-list>
            <a mat-list-item routerLink="/signup" (click)="sidenav.close()"><mat-icon>account_circle</mat-icon>Registruj se</a>
            <a mat-list-item routerLink="/login" (click)="sidenav.close()"><mat-icon>login</mat-icon>Prijavi se</a>
            <a mat-list-item routerLink="/training" (click)="sidenav.close()"><mat-icon>directions_run</mat-icon>Treniraj</a>
            <a mat-list-item routerLink="/" (click)="sidenav.close()"><mat-icon>logout</mat-icon>Odjavi se</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="warn">
            <div fxHide.gt-xs> <!-- gt-xs je min-width: 600px -->
                <button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            
            <div>
                <a routerLink="/">Pocetna</a>
            </div>
    
            <div fxFlex fxLayoutAlign="end" fxLayoutGap="20px" fxHide.xs> <!-- xs je max-width: 599px -->
                <a routerLink="/signup">Registruj se</a>
                <a routerLink="/login">Prijavi se</a>
                <a routerLink="/training">Treniraj</a>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
