/* 
Predefinisane teme / izgled:
https://material.angular.io/guide/theming#using-a-pre-built-theme
*/

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    font-family: 'Roboto', sans-serif;    
    height: 100%;
}

